@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Pacifico&family=Playfair+Display&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url(reset.css);

$ultra-dark: #172426;
$dark: #153C3C;
$middle: #84A17D;
$light: #ADC9A6;
$ultra-light: #F3F7F2;
$cards-bg: #F2F8F8;

.html, body{
}
.wrapper {
  
}
.container {
	max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 992px) {
    max-width: 992px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
.container-main {
	max-width: 100%;
  margin: 0 auto;
	padding: 0 20px;
  @media (min-width: 768px) {
    max-width: 768px;
		padding: 0 35px;
  }
  @media (min-width: 992px) {
    max-width: 992px;
		padding: 0 55px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
		padding: 0 70px;
  }
}
.header-banner {
	position:relative;
	padding: 2px 0;
	background: $light;
	color: $dark;
	font-size: 20px;
	line-height: 1;
	@media (min-width: 768px) {
    padding: 4px 0;
  }
  @media (min-width: 992px) {
    padding: 6px 0;
  }
  @media (min-width: 1200px) {
    padding: 8px 0;
  }
	&__container{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
	&__logo {
		@media (max-width: 419px){display: none;}
	}
	&__text {
		position: relative;
		top: 1px;
		font-family: 'Roboto';
		font-size: 11px;
		line-height: 2.18;
		text-align: center;
		letter-spacing: 0.24px;
		color: $dark;
		@media (max-width: 419px) {
			font-size: 14px;
			max-width: 240px;
			line-height: 1.18;
		}
	}
}
.header{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 10px 0;
	background-color: $dark;
	z-index: 50;
	@media (min-width: 768px) {
    padding: 15px 0;
  }
  @media (min-width: 992px) {
    padding: 20px 0;
  }
  @media (min-width: 1200px) {
    padding: 30px 0;
  }
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 100px;
	}
	&__logo {
		font-family: 'Roboto';
		color: white;
		font-size: 28px;
		font-weight: 700;
		line-height: 1.15;
	}
	&__burger{
		display: none;
		position: relative;
		top: -1px;
		height: 30px;
		width: 32px;
		cursor: pointer;
		@media (max-width: 767px) {
			display: block;
		}
		&>span, &>span::before, &>span::after{
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: #ADC9A6;
			transition: top 0.2s linear 0.2s, transform 0.2s linear 00s;
		}
		&>span{
			top: 50%;
		}
		&>span::before{
			top: -12px;
		}
		&>span::after{
			top: 12px;
		}
	}
	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767px) {
			display: none;
		}
	}
}
.navbar {
	flex: 1 1 auto;
	&__list {
		display: flex;
		align-items: center;
		gap: 50px;
	}
	&__link {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1.60;
		letter-spacing: 0.32px;
		color: #DDE4E4;
	}
	&__btn {
		padding: 8px 24px;
		background: $middle;
		border-radius: 4px;
		span{
			font-family: 'Roboto';
			font-size: 13px;
			line-height: 1.85;
			letter-spacing: 0.14px;
			color: #FFFFFF;
		}
	}
}
.header-mobile-navbar {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #153C3C;
	@media (max-width: 767px) {
		display: flex;
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease 0s;
	}
	&__list {
		flex-direction: column;
		gap: 10px;
	}
	&__link{
		font-size: 20px;
	}
	&__btn span{
		font-size: 20px;
	}
}
.burger-active{
	&>span, &>span::before, &>span::after{
		transition: top 0.2s linear 0s, transform 0.2s linear 0.2s;
	}
	&>span{
		transform: rotate(45deg);
	}
	&>span::before{
		top: 0;
	}
	&>span::after{
		top:0;
		transform: rotate(-90deg);
	}
}
.menu-active{
	height: 200px;
}

.main {
}
.article {
	margin-top: 40px;
	margin-bottom: 70px;
	@media (min-width: 768px) {
    margin-top: 60px;
	margin-bottom: 100px;
  }
  @media (min-width: 992px) {
    margin-top: 80px;
	margin-bottom: 130px;
  }
  @media (min-width: 1200px) {
    margin-top: 100px;
	margin-bottom: 160px;
  }
}
.article_twocols {
	margin-top: 40px;
	margin-bottom: 70px;
	@media (min-width: 768px) {
    margin-top: 60px;
	margin-bottom: 100px;
  }
  @media (min-width: 992px) {
    margin-top: 80px;
	margin-bottom: 130px;
  }
  @media (min-width: 1200px) {
    margin-top: 100px;
	margin-bottom: 160px;
  }
}
.subtitle {
	text-align: center;
	margin-bottom: 13px;
	&>span{
		display: inline-block;
		margin: 0 auto;
		padding: 8px 16px;
		background: $ultra-light;
		border-radius: 4px;
		font-family: 'Roboto';
		font-size: 14px;
		line-height: 1.78;
		text-transform: uppercase;
		color: $dark;
		@media (min-width: 768px) {
			font-size: 15px;
		}
		@media (min-width: 992px) {
			font-size: 16px;
		}
		@media (min-width: 1200px) {
			font-size: 18px;
		}
	}
}
.title {
	font-family: 'Roboto';
	font-size: 35px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 2.88px;
	color: $ultra-dark;
	margin-bottom: 70px;
	@media (min-width: 768px) {
		margin-bottom: 100px;
		font-size: 42px;
  }
  @media (min-width: 992px) {
		margin-bottom: 130px;
		font-size: 49px;
  }
  @media (min-width: 1200px) {
		margin-bottom: 160px;
		font-size: 56px;
  }

}
.cards {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 25px;
	@media (min-width: 768px) {
		grid-template-columns: repeat(auto-fit, 333px);
		gap: 30px;
  }
  @media (min-width: 992px) {
		grid-template-columns: repeat(auto-fit, 423px);
		gap: 35px;
  }
  @media (min-width: 1200px) {
		grid-template-columns: repeat(auto-fit, 510px);
		gap: 40px;
  }
	&__item {
		background: $cards-bg;
		border-radius: 12px;
		padding: 25px 35px 0;
		@media (min-width: 768px) {
			padding: 30px 42px 0;
		}
		@media (min-width: 992px) {
			padding: 35px 49px 0;
		}
		@media (min-width: 1200px) {
			padding: 40px 56px 0;
		}
	}
	&__title {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1.52;
		letter-spacing: 0.96px;
		color: $ultra-dark;
		margin-bottom: 25px;
		@media (min-width: 768px) {
			font-size: 16px;
			margin-bottom: 30px;
		}
		@media (min-width: 992px) {
			font-size: 18px;
			margin-bottom: 35px;
		}
		@media (min-width: 1200px) {
			font-size: 21px;
			margin-bottom: 40px;
		}
	}
	&__img {
		max-width: 100%;
	}
}
.intro {
	&__subtitle {
		margin-bottom: 11px;
	}
	&__title {
		margin-bottom: 40px;
		position: relative;
		font-size: 42px;
		line-height: 1.29;
		@media (min-width: 768px) {
			font-size: 48px;
			margin-bottom:60px;
		}
		@media (min-width: 992px) {
			font-size: 54px;
			margin-bottom: 80px;
		}
		@media (min-width: 1200px) {
			font-size: 62px;
			margin-bottom: 110px;
		}
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 80px;
			bottom: -5px;
			left: 0; right: 0;
			z-index: -1;
			background-image: url(../img/png/intro-title-mark.png);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__img{
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		img{
			max-width: 100%;
			@media (max-width: 767px) {
				max-width: 738px;
			}
		}
	}
}
.links {
	padding: 28px 25px;
	display: flex;
	font-size: 15px;
	@media (min-width: 768px) {
		font-size: 16px;
		padding: 33px 30px;
  }
  @media (min-width: 992px) {
		font-size: 18px;
		padding: 39px 35px;
  }
  @media (min-width: 1200px) {
		font-size: 21px;
		padding: 44px 40px;
  }
	&__title {
		flex: 1;
		font-family: 'Roboto';
		line-height: 1.52;
		letter-spacing: 0.96px;
		color: $ultra-dark;
	}
	&__arrow {
		width: 0.8em;
	}
}
.other{
	margin-bottom: 50px;
	@media (min-width: 768px) {
		margin-bottom: 65px;
  }
  @media (min-width: 992px) {
		margin-bottom: 90px;
  }
  @media (min-width: 1200px) {
		margin-bottom: 120px;
  }
}
.offer {
	grid-column: 1 / 3;
	padding: 46px;
	border-radius: 8px;
	background-image: url(../img/webp/offer-bg.webp);
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
	@media (min-width: 768px) {
		margin-bottom: 65px;
		padding: 50px;
  }
  @media (min-width: 992px) {
		margin-bottom: 80px;
		padding: 56px;
  }
  @media (min-width: 1200px) {
		margin-bottom: 100px;
		padding: 64px;
  }
	&__title {
		font-family: 'Roboto';
		font-size: 25px;
		line-height: 1.33;
		letter-spacing: 1.6px;
		color: #FFFFFF;
		margin-bottom: 24px;
		@media (min-width: 768px) {
			max-width: 50%;
			font-size: 28px;
			margin-bottom: 26px;
		}
		@media (min-width: 992px) {
			font-size: 32px;
			margin-bottom: 28px;
		}
		@media (min-width: 1200px) {
			font-size: 36px;
			margin-bottom: 32px;
		}
	}
	&__content{
		@media (min-width: 480px) {
			display: flex;
		}
	}
	&__prise {
		font-family: 'Roboto';
		font-size: 40px;
		line-height: 1.2;
		color: $light;
		margin-right: 10px;
		
	}
	&__subtitle {
		font-family: 'Roboto';
		font-size: 12px;
		line-height: 2;
		letter-spacing: 0.28px;
		color: #DDE4E4;
		margin-right: 10px;
		margin-bottom: 10px;
		@media (min-width: 480px) {
			margin-bottom: 0;
		}
		@media (min-width: 768px) {
			margin-right: 24px;
		}
	}
	&__btn {
		padding: 12px 42px;
		background: $middle;
		border-radius: 4px;
		font-family: 'Roboto';
		font-size: 13px;
		line-height: 1.85;
		text-align: center;
		color: #FFFFFF;
	}
}

.footer {
	background-color: $dark;
	padding-top: 40px;
	padding-bottom: 20px;
	@media (min-width: 768px) {
		padding-top: 60px;
		padding-bottom: 30px;
  }
  @media (min-width: 992px) {
		padding-top: 80px;
		padding-bottom: 40px;
  }
  @media (min-width: 1200px) {
		padding-top: 100px;
		padding-bottom: 50px;
  }
	&__top {
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: 768px) {
			gap: 10%;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 50px;
		}
		@media (min-width: 992px) {
			margin-bottom: 80px;
		}
		@media (min-width: 1200px) {
			margin-bottom: 110px;
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		-moz-column-gap: 10px;
		     column-gap: 10px;
	}
	&__logo {
		height: 23px;
		img{height: 100%;}
	}
	&__copy {
		border-left: 2px solid #FFFFFF ;
		padding-left: 5px;
		font-family: 'Roboto';
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.28px;
		color: #FFFFFF;
		span{
			color: #ADC9A6;
		}
	}
}


.top {
	&__slogan {
		display: inline-block;
		margin-bottom: 10px;
		font-family: 'Roboto';
		font-size: 22px;
		@media (min-width: 768px) {
			margin-bottom: 15px;
			font-size: 24px;
		}
		@media (min-width: 992px) {
			margin-bottom: 22px;
			font-size: 28px;
		}
		@media (min-width: 1200px) {
			margin-bottom: 29px;
			font-size: 34px;
		}
		line-height: 1.41;
		letter-spacing: 1.6px;
		color: #FFFFFF;
		span{
			font-size: 23px;
			@media (min-width: 768px) {
				font-size: 26px;
			}
			@media (min-width: 992px) {
				font-size: 31px;
			}
			@media (min-width: 1200px) {
				font-size: 38px;
			}
		}
		background-image: url(../img/png/footer-mark.png);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 2.8em ;
		
	}
	&__text {
		max-width: 357px;
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1.87;
		letter-spacing: 0.32px;
		color: #DDE4E4;
	}
	&__columns{
		flex: 1;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		@media (min-width: 768px) {
			grid-template-columns: repeat(3,minmax(90px, 1fr));
		}
	}
}
.column {
	&__title {
		font-family: 'Roboto';
		font-size: 16px;
		line-height: 1.5;
		color: #F4F5F6;
		margin-bottom: 10px;
		@media (min-width: 768px) {
			line-height: 1.3;
			margin-bottom: 5px;
		}
		@media (min-width: 992px) {
			line-height: 1.4;
			margin-bottom: 10px;
		}
		@media (min-width: 1200px) {
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width: 768px) {
			gap: 2px;
		}
		@media (min-width: 992px) {
			gap: 4px;		
		}
		@media (min-width: 1200px) {
			gap: 8px;		
		}
		a{
			font-family: 'Roboto';
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: 0.32px;
			color: #6C8989;
			@media (min-width: 768px) {
				line-height: 1.5;
			}
			@media (min-width: 992px) {
				line-height: 1.75;
			}
			@media (min-width: 1200px) {
				line-height: 2.29;
			}
		}
	}
}
