@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Pacifico&family=Playfair+Display&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url(reset.scss);
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 70px;
}
@media (min-width: 768px) {
  .container-main {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container-main {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container-main {
    max-width: 1200px;
  }
}

.header-banner {
  position: relative;
  padding: 8px 0;
  background: #ADC9A6;
  color: #153C3C;
  font-size: 20px;
  line-height: 1;
}
.header-banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 419px) {
  .header-banner__logo {
    display: none;
  }
}
.header-banner__text {
  position: relative;
  top: 1px;
  font-family: "Roboto";
  font-size: 11px;
  line-height: 2.18;
  text-align: center;
  letter-spacing: 0.24px;
  color: #153C3C;
}
@media (max-width: 419px) {
  .header-banner__text {
    font-size: 14px;
    max-width: 240px;
    line-height: 1.18;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px 0;
  background-color: #153C3C;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header__logo {
  font-family: "Roboto";
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
}
.header__burger {
  display: none;
  position: relative;
  top: -1px;
  height: 30px;
  width: 32px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
}
.header__burger > span, .header__burger > span::before, .header__burger > span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ADC9A6;
  transition: top 0.2s linear 0.2s, rotate 0.2s linear 0s;
}
.header__burger > span {
  top: 50%;
}
.header__burger > span::before {
  top: -12px;
}
.header__burger > span::after {
  top: 12px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__navbar {
    display: none;
  }
}

.navbar {
  flex: 1 1 auto;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar__link {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.32px;
  color: #DDE4E4;
}
.navbar__btn {
  padding: 8px 24px;
  background: #84A17D;
  border-radius: 4px;
}
.navbar__btn span {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.14px;
  color: #FFFFFF;
}

.header-mobile-navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #153C3C;
}
@media (max-width: 767px) {
  .header-mobile-navbar {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
  }
}
.header-mobile-navbar__list {
  flex-direction: column;
  gap: 10px;
}
.header-mobile-navbar__link {
  font-size: 20px;
}
.header-mobile-navbar__btn span {
  font-size: 20px;
}

.burger-active > span, .burger-active > span::before, .burger-active > span::after {
  transition: top 0.2s linear 0s, rotate 0.2s linear 0.2s;
}
.burger-active > span {
  rotate: 45deg;
}
.burger-active > span::before {
  top: 0;
}
.burger-active > span::after {
  top: 0;
  rotate: -90deg;
}

.menu-active {
  height: 200px;
}

.article {
  margin-top: 100px;
  margin-bottom: 160px;
}

.article_twocols {
  margin-top: 100px;
  margin-bottom: 160px;
}

.subtitle {
  text-align: center;
  margin-bottom: 13px;
}
.subtitle > span {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 16px;
  background: #F3F7F2;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.78;
  text-transform: uppercase;
  color: #153C3C;
}

.title {
  font-family: "Roboto";
  font-size: 56px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 2.88px;
  color: #172426;
  margin-bottom: 100px;
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 510px);
  gap: 40px;
}
.cards__item {
  background: #F2F8F8;
  border-radius: 12px;
  padding: 40px 56px 0;
}
.cards__title {
  font-family: "Roboto";
  font-size: 21px;
  line-height: 1.52;
  letter-spacing: 0.96px;
  color: #172426;
  margin-bottom: 40px;
}
.intro__subtitle {
  margin-bottom: 11px;
}
.intro__title {
  margin-bottom: 110px;
  position: relative;
  font-size: 62px;
  line-height: 1.29;
}
.intro__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(../img/png/intro-title-mark.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.intro__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.intro__img img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .intro__img img {
    max-width: 738px;
  }
}

.links {
  padding: 44px 40px;
  display: flex;
  font-size: 21px;
}
.links__title {
  flex: 1;
  font-family: "Roboto";
  line-height: 1.52;
  letter-spacing: 0.96px;
  color: #172426;
}
.links__arrow {
  width: 0.8em;
}

.other {
  margin-bottom: 120px;
}

.offer {
  grid-column: 1/3;
  padding: 64px;
  border-radius: 8px;
  background-image: url(../img/jpg/offer-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}
.offer__title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  max-width: 50%;
  margin-bottom: 32px;
}
.offer__content {
  display: flex;
}
.offer__prise {
  font-family: "Roboto";
  font-size: 40px;
  line-height: 1.2;
  color: #ADC9A6;
  margin-right: 10px;
}
.offer__subtitle {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.28px;
  color: #DDE4E4;
  margin-right: 24px;
}
.offer__btn {
  padding: 12px 42px;
  background: #84A17D;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.85;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #153C3C;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__logo {
  height: 23px;
}
.footer__logo img {
  height: 100%;
}
.footer__copy {
  border-left: 2px solid #FFFFFF;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.28px;
  color: #FFFFFF;
}
.footer__copy span {
  color: #ADC9A6;
}

.top__slogan {
  display: inline-block;
  font-family: "Roboto";
  font-size: 34px;
  line-height: 1.41;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  background-image: url(../img/png/footer-mark.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-bottom: 29px;
}
.top__slogan span {
  font-size: 38px;
}
.top__text {
  max-width: 357px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: 0.32px;
  color: #DDE4E4;
}

.column__title {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #F4F5F6;
  margin-bottom: 20px;
}
.column__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.column__items a {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 2.29;
  letter-spacing: 0.32px;
  color: #6C8989;
}/*# sourceMappingURL=style.css.map */