@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Pacifico&family=Playfair+Display&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url(reset.scss);
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container-main {
    max-width: 768px;
    padding: 0 35px;
  }
}
@media (min-width: 992px) {
  .container-main {
    max-width: 992px;
    padding: 0 55px;
  }
}
@media (min-width: 1200px) {
  .container-main {
    max-width: 1200px;
    padding: 0 70px;
  }
}

.header-banner {
  position: relative;
  padding: 2px 0;
  background: #ADC9A6;
  color: #153C3C;
  font-size: 20px;
  line-height: 1;
}
@media (min-width: 768px) {
  .header-banner {
    padding: 4px 0;
  }
}
@media (min-width: 992px) {
  .header-banner {
    padding: 6px 0;
  }
}
@media (min-width: 1200px) {
  .header-banner {
    padding: 8px 0;
  }
}
.header-banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 419px) {
  .header-banner__logo {
    display: none;
  }
}
.header-banner__text {
  position: relative;
  top: 1px;
  font-family: "Roboto";
  font-size: 11px;
  line-height: 2.18;
  text-align: center;
  letter-spacing: 0.24px;
  color: #153C3C;
}
@media (max-width: 419px) {
  .header-banner__text {
    font-size: 14px;
    max-width: 240px;
    line-height: 1.18;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  background-color: #153C3C;
  z-index: 50;
}
@media (min-width: 768px) {
  .header {
    padding: 15px 0;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 30px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header__logo {
  font-family: "Roboto";
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
}
.header__burger {
  display: none;
  position: relative;
  top: -1px;
  height: 30px;
  width: 32px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
}
.header__burger > span, .header__burger > span::before, .header__burger > span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ADC9A6;
  transition: top 0.2s linear 0.2s, rotate 0.2s linear 0s;
}
.header__burger > span {
  top: 50%;
}
.header__burger > span::before {
  top: -12px;
}
.header__burger > span::after {
  top: 12px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__navbar {
    display: none;
  }
}

.navbar {
  flex: 1 1 auto;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar__link {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.32px;
  color: #DDE4E4;
}
.navbar__btn {
  padding: 8px 24px;
  background: #84A17D;
  border-radius: 4px;
}
.navbar__btn span {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.14px;
  color: #FFFFFF;
}

.header-mobile-navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #153C3C;
}
@media (max-width: 767px) {
  .header-mobile-navbar {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
  }
}
.header-mobile-navbar__list {
  flex-direction: column;
  gap: 10px;
}
.header-mobile-navbar__link {
  font-size: 20px;
}
.header-mobile-navbar__btn span {
  font-size: 20px;
}

.burger-active > span, .burger-active > span::before, .burger-active > span::after {
  transition: top 0.2s linear 0s, rotate 0.2s linear 0.2s;
}
.burger-active > span {
  transform: rotate(45deg);
}
.burger-active > span::before {
  top: 0;
}
.burger-active > span::after {
  top: 0;
  transform: rotate(-90deg);
}

.menu-active {
  height: 200px;
}

.article {
  margin-top: 40px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .article {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .article {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .article {
    margin-top: 100px;
    margin-bottom: 160px;
  }
}

.article_twocols {
  margin-top: 40px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .article_twocols {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .article_twocols {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .article_twocols {
    margin-top: 100px;
    margin-bottom: 160px;
  }
}

.subtitle {
  text-align: center;
  margin-bottom: 13px;
}
.subtitle > span {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 16px;
  background: #F3F7F2;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.78;
  text-transform: uppercase;
  color: #153C3C;
}
@media (min-width: 768px) {
  .subtitle > span {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .subtitle > span {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .subtitle > span {
    font-size: 18px;
  }
}

.title {
  font-family: "Roboto";
  font-size: 35px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 2.88px;
  color: #172426;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .title {
    margin-bottom: 100px;
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .title {
    margin-bottom: 130px;
    font-size: 49px;
  }
}
@media (min-width: 1200px) {
  .title {
    margin-bottom: 160px;
    font-size: 56px;
  }
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 25px;
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 333px);
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 423px);
    gap: 35px;
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 510px);
    gap: 40px;
  }
}
.cards__item {
  background: #F2F8F8;
  border-radius: 12px;
  padding: 25px 35px 0;
}
@media (min-width: 768px) {
  .cards__item {
    padding: 30px 42px 0;
  }
}
@media (min-width: 992px) {
  .cards__item {
    padding: 35px 49px 0;
  }
}
@media (min-width: 1200px) {
  .cards__item {
    padding: 40px 56px 0;
  }
}
.cards__title {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.96px;
  color: #172426;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .cards__title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .cards__title {
    font-size: 18px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .cards__title {
    font-size: 21px;
    margin-bottom: 40px;
  }
}
.cards__img {
  max-width: 100%;
}

.intro__subtitle {
  margin-bottom: 11px;
}
.intro__title {
  margin-bottom: 40px;
  position: relative;
  font-size: 42px;
  line-height: 1.29;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 48px;
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .intro__title {
    font-size: 54px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .intro__title {
    font-size: 62px;
    margin-bottom: 110px;
  }
}
.intro__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(../img/png/intro-title-mark.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.intro__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.intro__img img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .intro__img img {
    max-width: 738px;
  }
}

.links {
  padding: 28px 25px;
  display: flex;
  font-size: 15px;
}
@media (min-width: 768px) {
  .links {
    font-size: 16px;
    padding: 33px 30px;
  }
}
@media (min-width: 992px) {
  .links {
    font-size: 18px;
    padding: 39px 35px;
  }
}
@media (min-width: 1200px) {
  .links {
    font-size: 21px;
    padding: 44px 40px;
  }
}
.links__title {
  flex: 1;
  font-family: "Roboto";
  line-height: 1.52;
  letter-spacing: 0.96px;
  color: #172426;
}
.links__arrow {
  width: 0.8em;
}

.other {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .other {
    margin-bottom: 65px;
  }
}
@media (min-width: 992px) {
  .other {
    margin-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .other {
    margin-bottom: 120px;
  }
}

.offer {
  grid-column: 1/3;
  padding: 46px;
  border-radius: 8px;
  background-image: url(../img/jpg/offer-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .offer {
    margin-bottom: 65px;
    padding: 50px;
  }
}
@media (min-width: 992px) {
  .offer {
    margin-bottom: 80px;
    padding: 56px;
  }
}
@media (min-width: 1200px) {
  .offer {
    margin-bottom: 100px;
    padding: 64px;
  }
}
.offer__title {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 1.33;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .offer__title {
    max-width: 50%;
    font-size: 28px;
    margin-bottom: 26px;
  }
}
@media (min-width: 992px) {
  .offer__title {
    font-size: 32px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .offer__title {
    font-size: 36px;
    margin-bottom: 32px;
  }
}
@media (min-width: 480px) {
  .offer__content {
    display: flex;
  }
}
.offer__prise {
  font-family: "Roboto";
  font-size: 40px;
  line-height: 1.2;
  color: #ADC9A6;
  margin-right: 10px;
}
.offer__subtitle {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.28px;
  color: #DDE4E4;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .offer__subtitle {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .offer__subtitle {
    margin-right: 24px;
  }
}
.offer__btn {
  padding: 12px 42px;
  background: #84A17D;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.85;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  background-color: #153C3C;
  padding-top: 40px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.footer__top {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer__top {
    gap: 10%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .footer__top {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .footer__top {
    margin-bottom: 110px;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.footer__logo {
  height: 23px;
}
.footer__logo img {
  height: 100%;
}
.footer__copy {
  border-left: 2px solid #FFFFFF;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.28px;
  color: #FFFFFF;
}
.footer__copy span {
  color: #ADC9A6;
}

.top__slogan {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 22px;
  line-height: 1.41;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  background-image: url(../img/png/footer-mark.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 2.8em;
}
@media (min-width: 768px) {
  .top__slogan {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .top__slogan {
    margin-bottom: 22px;
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .top__slogan {
    margin-bottom: 29px;
    font-size: 34px;
  }
}
.top__slogan span {
  font-size: 23px;
}
@media (min-width: 768px) {
  .top__slogan span {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .top__slogan span {
    font-size: 31px;
  }
}
@media (min-width: 1200px) {
  .top__slogan span {
    font-size: 38px;
  }
}
.top__text {
  max-width: 357px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: 0.32px;
  color: #DDE4E4;
}
.top__columns {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .top__columns {
    grid-template-columns: repeat(3, minmax(90px, 1fr));
  }
}

.column__title {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #F4F5F6;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .column__title {
    line-height: 1.3;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .column__title {
    line-height: 1.4;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .column__title {
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.column__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .column__items {
    gap: 2px;
  }
}
@media (min-width: 992px) {
  .column__items {
    gap: 4px;
  }
}
@media (min-width: 1200px) {
  .column__items {
    gap: 8px;
  }
}
.column__items a {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  color: #6C8989;
}
@media (min-width: 768px) {
  .column__items a {
    line-height: 1.5;
  }
}
@media (min-width: 992px) {
  .column__items a {
    line-height: 1.75;
  }
}
@media (min-width: 1200px) {
  .column__items a {
    line-height: 2.29;
  }
}/*# sourceMappingURL=style.css.map */